<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Soya & Koala</title>
    <style>
      /* https://css-tricks.com/perfect-full-page-background-image/ */
      html {
        background-image: url("/images/bavoiranimaux.2.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        transition: background-image 1s ease-in-out;
      }
    </style>
  </head>
  <body></body>
  <script>
    const images = [
      "/images/bavoiranimaux.2.jpg",
      "/images/couverturemaxime10.jpg",
      "/images/jouetcraquant2.jpg",
      "/images/mobileolive2.jpg",
    ];
    function changeImage(imageUrl) {
      document.documentElement.style["background-image"] = `url("${imageUrl}")`;
    }
    let pos = 0;
    function start() {
      // https://stackoverflow.com/questions/44227997/creating-in-an-infinite-loop-using-settimeout
      setTimeout(function () {
        pos = pos >= images.length - 1 ? 0 : pos + 1;
        changeImage(images[pos]);
        // Again
        start();

        // Every 3 sec
      }, 3000);
    }

    // Begins
    start();
  </script>
</html>
